* {
    margin: 0;
    padding: 0;
}

.lol {
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

.login {
    position: absolute;
    top: 16px;
}

.hello {
    width: 64px;
    position: absolute;
    margin-left: 1%;
    text-align: center;
    top: 16px;
}

.reg {
    position: absolute;
    margin-left: 7%;
    top: 16px;
}

.logout {
    top: 16px;
    position: absolute;
    margin-left: 7%;
}

.dis {
    top: 16px;
    position: absolute;
    margin-left: 34%;
}

.work {
    top: 16px;
    position: absolute;
    margin-left: 21%;
}

.pod {
    top: 16px;
    position: absolute;
    margin-left: 41%;
}

.forms {
    margin-left: 43%;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.forms2 {
    width: 70%;
    height: 30px;
    display: flex;
    flex-direction: column;
}


button {
    margin-top: 2%;
    width: 207px;
    display: block;
    background-color: #ffffff;
}

label {
    width: 100px;
}

.auth {
    color: #525252;
    margin-top: -20px ;
}

form>h4 {
    color: red;
    margin-left: -4%;
}

div>h1 {
    margin-top: 3%;
    font-size: 28px;
    margin-left: 2%;
}

header>nav>a:last-child {
    margin-left: 85%;
}

.role {
    width: 100px;
}

.code {
    width: 200px;
}

.form-select {
    width: 11.3%;
}

.diss {
    color: red;
}

select {
    width: 50%;
    border-radius: 2px;
}

.alr {
    margin-top: 5%;
    display: flex;
    margin-left: 2.5%;
}

.listwork {
    margin-top: 10%;
    font-size: 20px;
}

h6 {
    font-size: 20px;
}

.listback {
    background-color: white;
    border: black solid 1px;
    width: 800px;
    height: 500px;
    border-radius: 5px;
    padding-left: 5px;
}

.right {
margin-left: 5%;
}

.h66 {
    margin-top: 55%;
}

div>div>label {
    margin-top: 5%;
    width: 200px;
    display: block;
}

div>div>label>input {
    width: 200%;
    height: 35px;
    border-radius: 5px;
    padding-left: 3px;
    margin-bottom: 5px;
}

div>div>button {
    margin-top: 15%;
    margin-left: 45%;
    border-radius: 5px;
}

.newdiv {
    margin-top: 0%;
}

.listback2 {
    background-color: white;
    border: black solid 1px;
    width: 70%;
    height: 500px;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 3%;
}

.buttonn {
    margin-top: -4.5%;
    height: 35px;
}

